<div class="row minihdr">
  <div class="col-md-12 col-sm-12 col-xs-12">
	<a ui-sref="home">Lines</a> &lt; <a ui-sref = "choise({line:rptCtrl.line})">{{rptCtrl.line}}</a> &lt; <span> {{rptCtrl.shift}} Report</span>
  </div>
</div>
<hr>  

<div class="row report">

<div> Register: {{rptCtrl.display.register}}</div>
<div>      Tab: {{rptCtrl.display.tab}},kg</div>
<div>   Laquer: {{rptCtrl.display.laquer}},kg</div>
<div>    Input: {{rptCtrl.display.input}},pcs</div>
<div>   Output: {{rptCtrl.display.output}},pcs</div>


</div>




        

